* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(252, 252, 189);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

form {
    background: white;
    padding: 30px;
    width: 100%;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 12px;
}

p {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 4px;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: 0.3s ease;
}

input:focus {
    border-color: hsl(49, 91%, 78%);
    outline: none;
    box-shadow: 0 0 5px rgba(245, 237, 134, 0.5);
}

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    background: #f1f1bd;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #fffaaf;
}

/* Tablets */
@media (max-width: 768px) {

    form {
        max-width: 90%;
        padding: 25px;
    }

}

/* Celulares */
@media (max-width: 480px) {

    body {
        padding: 15px;
    }

    form {
        max-width: 100%;
        padding: 20px;
        border-radius: 10px;
    }

    input,
    button {
        font-size: 14px;
        padding: 10px;
    }

    p {
        font-size: 18px;
    }

}